.next-enter-active {
  animation: enterFromRight 300ms both cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
